{#
/**
 * @file
 * Default order template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 * @see maadixstrap_preprocess_commerce_order
 */
#}

{% include '@maadit/blocks/pdf_style.html.twig' %}

<div class="invoice">
  <div{{ attributes }}>
    <div class="invoice__emissor">
        {% include '@maadit/blocks/logo-maadix-base64.html.twig' %}
        <p class="invoice__emissor-name">
            MaadixZone S.L.
        </p>
        <p class="invoice__emissor-address">
            Calle Roser 13, 2º 1º<br />
            08004 Barcelona
        </p>
        <p class="invoice__emissor-cif">
            NIF: B66869249 
        </p>
    </div>
    <div class="invoice__header">
        <div class="invoice__header-left">
            <div class="invoice-field invoice__profile">
                <p class="field__label">
                    {{ 'Factura a:' | t }}
                </p>

                {{ order.billing_information }}
                {% if order.billing_information['#profile'].tmp_tax_number.value %}
                  {{ order.billing_information['#profile'].tmp_tax_number.value }}
                {% else %}
                  {{ order.billing_information['#profile'].field_vat_number.value }}
                {% endif %}
            </div>
        </div>
        <div class="invoice__header-right">
            <div class="invoice-field invoice__invoice_date">
                <p class="field__label">
                    {{ 'Fecha factura' | t }}
                </p>
                {{ 'now'|date('d/m/Y') }}
            </div>
            <div class="invoice-field invoice__invoice_number">
                <p class="field__label">
                    {{ 'Número factura' | t }}
                </p>

                {{ order.field_invoice_number.0 }}
            </div>
        </div>
    </div>
    <div class="invoice__content">
        <div class="invoice-field invoice__items">
            {{ order.order_items  }}
        </div>
        <div class="invoice-field invoice__price">
            {{ order.total_price }}
        </div>
    </div>
    <div class="invoice__colophon" style="border-top: 1px solid #ccc;text-align:center;">
        {{ 'MaadixZone S.L,  Calle Roser 13, 2º 1º 08004 Barcelona, España. Registro Mercantil de Barcelona, Tomo 45650, Folio 207, Hoja 494628, Inscripción 1º' | t }}
    </div>
  </div>
</div>
